.cs1 {
    color: #d4d4d4;
}

.cs2 {
    color: #1e1e1e;
}

.cs3 {
    color: #000080;
}

.cs4 {
    color: #6a9955;
}

.cs5 {
    color: #569cd6;
}

.cs6 {
    color: #b5cea8;
}

.cs7 {
    color: #646695;
}

.cs8 {
    color: #d7ba7d;
}

.cs9 {
    color: #9cdcfe;
}

.cs10 {
    color: #f44747;
}

.cs11 {
    color: #ce9178;
}

.cs12 {
    color: #6796e6;
}

.cs13 {
    color: #808080;
}

.cs14 {
    color: #d16969;
}

.cs15 {
    color: #dcdcaa;
}

.cs16 {
    color: #4ec9b0;
}

.cs17 {
    color: #c586c0;
}

.cs18 {
    color: #4fc1ff;
}

.cs19 {
    color: #c8c8c8;
}

.cs20 {
    color: #cd9731;
}

.cs21 {
    color: #b267e6;
}
