name: Tests
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  tests:
    name: Tests
    runs-on: ${{ matrix.os }}
    if: "!contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, 'skip ci')"

    defaults:
      run:
        shell: bash

    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest

    env:
      RUSTFLAGS: -D warnings
      CARGO_INCREMENTAL: 1
      RUSTUP_MAX_RETRIES: 10
      CARGO_NET_RETRY: 10

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      # We need to disable the existing toolchain to avoid updating rust-docs
      # which takes a long time. The fastest way to do this is to rename the
      # existing folder, as deleting it takes about as much time as not doing
      # anything and just updating rust-docs.
      - name: Rename existing rust toolchain (Windows)
        if: matrix.os == 'windows-latest'
        run: mv -f /C/Users/runneradmin/.rustup/toolchains/stable-x86_64-pc-windows-msvc /C/Users/runneradmin/.rustup/toolchains/stable-x86_64-pc-windows-msvc.old

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          components: rustfmt, clippy

      - if: matrix.os == 'ubuntu-latest'
        run: sudo chown -R $(whoami):$(id -ng) ~/.cargo/

      - name: Check formatting
        run: cargo fmt -- --check

      - name: Test All
        if: matrix.os != 'windows-latest'
        run: >
          cargo test --no-fail-fast --all

      - name: Test on Win
        if: matrix.os == 'windows-latest'
        run: |
          cargo test --no-fail-fast -p=move-language-server
          pushd resource-viewer
          cargo test -p=move-resource-viewer --no-default-features --features="dfinance_address, json-schema"
          popd

      - name: Run clippy
        run: cargo clippy --tests --examples -- -Dwarnings

  wasm:
    name: Wasm
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    strategy:
      fail-fast: false
      matrix:
        rust:
          - "1.50.0"
        crate:
          - disassembler

    env:
      RUSTFLAGS: -D warnings
      CARGO_INCREMENTAL: 1
      RUSTUP_MAX_RETRIES: 10
      CARGO_NET_RETRY: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          profile: minimal
          target: wasm32-unknown-unknown
          override: true

      - name: Build ${{ matrix.crate }}
        run: cargo build -p ${{ matrix.crate }} --lib --target wasm32-unknown-unknown --release

      # - name: Install wasm-bindgen tool
      #   continue-on-error: true
      #   run: cargo install wasm-bindgen-cli or use wasm-pack

      - uses: jetli/wasm-bindgen-action@v0.1.0
        with:
          version: "0.2.71"

      - name: Gen JS/TS API
        run: |
          wasm-bindgen target/wasm32-unknown-unknown/release/${{ matrix.crate }}.wasm --out-dir ./dist_${{ matrix.crate }} --no-modules --no-modules-global ${{ matrix.crate }}
          wasm-bindgen target/wasm32-unknown-unknown/release/${{ matrix.crate }}.wasm --out-dir ./dist_${{ matrix.crate }}/js-modules
      # - name: Install wasm-pack toolchain
      #   run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      # - name: Test in Chrome
      #   run: wasm-pack test --headless --chrome
      # - name: Test in Firefox
      #   run: wasm-pack test --headless --firefox
      # - name: Test in Safari
      #   run: wasm-pack test --headless --safari
