[package]
name = "dove"
version = "1.2.2"
authors = [
    "Alex Koz. <alexanderkozlovskii@wings.ai>",
    "Dm. Yakushev <dmitryyakushev@wings.ai>",
    "Maxim Kurnikov <maximkurnikov@wings.ai>"
]
edition = "2018"

[dependencies]
structopt = "0.3"
http = "0.2"
serde = "1.0.125"
serde_derive = "1.0.125"
toml = "0.5"
anyhow = "1.0"
lazy_static = "1.4.0"
bech32 = "0.7.2"
regex = "1.4.3"
twox-hash = "1.5.0"
once_cell = "1.4.0"
hex = "0.4.2"
walkdir = "2.3.1"
fs_extra = "1.2.0"
tiny-keccak = { version = "2.0.2", default-features = false, features = ["sha3"] }
rand = "=0.7.3"
log = "0.4.8"
termcolor = "1.1.0"
reqwest = { version = "0.10.4", features = ["blocking", "json"] }
itertools = "0.9.0"
maplit = "1.0.2"
serde_json = "1.0.52"
git2 = "0.13"
bcs = "0.1.2"
dunce = "1.0.1"
atty = "0.2"
indexmap = { version = "=1.6.2", default-features = false, features = ["std"] }

lang = { path = "../lang" }
decompiler = { path = "../lang/decompiler" }
git-hash = { path = "../common/git-hash" }
move-executor = { path = "../executor" }
net = { path = "../net" }

vm = { git = "https://github.com/pontem-network/diem.git", branch = "release-1.2.0-v2" }
move-core-types = { git = "https://github.com/pontem-network/diem.git", branch = "release-1.2.0-v2" }
move-lang = { git = "https://github.com/pontem-network/diem.git", branch = "release-1.2.0-v2" }
docgen = { git = "https://github.com/pontem-network/diem.git", branch = "release-1.2.0-v2" }
move-model = { git = "https://github.com/pontem-network/diem.git", branch = "release-1.2.0-v2" }
ir-to-bytecode-syntax = { git = "https://github.com/pontem-network/diem.git", branch = "release-1.2.0-v2" }

# move-prover deps
move-prover = { git = "https://github.com/pontem-network/diem.git", branch = "release-1.2.0-v2", optional = true }
boogie-backend-v2 = { git = "https://github.com/pontem-network/diem.git", branch = "release-1.2.0-v2", optional = true }

[features]
default = []
prover = ['move-prover', 'boogie-backend-v2']
